
  .h2_custom {
    color: var(--ifm-color-indigo-i1);
  }

  .transition {
    font-family: var(--ifm-font-family-bebas-neue);
    font-size: 40px;
    font-style: normal;
    font-weight: bolder;
    line-height: 150%;
    text-align: center;
    margin-top: var(--ifm-spacing-4xl);
    color: var(--ifm-color-indigo-i1);
  }
