@media only screen and (max-width: 996px) {
  /*Desktop */

  .services_header_text {
    padding: var(--ifm-spacing-xl) var(--ifm-spacing-2xl);
  }

  .services_title {
    margin-top: var(--ifm-spacing-xl);
  }
  .illustration_container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .services_description {
    padding: 0 var(--ifm-spacing-2xl);
  }

  .transition {
    font-family: var(--ifm-font-family-bebas-neue);
    font-size: 24px;
    font-style: normal;
    font-weight: bolder;
    line-height: 150%;
    letter-spacing: 1.056px;
    color: var(--ifm-color-secondary-s5);
    text-align: center;
    padding: var(--ifm-spacing-xl) var(--ifm-spacing-2xl);
  }

  .sign_a_support {
    font-family: var(--ifm-font-family-roboto);
    font-size: 14px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--ifm-color-secondary-s1);
    color: var(--ifm-color-secondary-s4);
    padding: var(--ifm-spacing-2xl) var(--ifm-spacing-2xl) 0  var(--ifm-spacing-2xl) ;
  }
}

@media only screen and (min-width: 996px) {
  /*Desktop */
  .service_container {
    margin-top: var(--ifm-spacing-6xl);
  }

  .sign_a_support {
    font-family: var(--ifm-font-family-bebas-neue);
    font-size: var(--ifm-font-size-secondary-title);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 800;
    background-color: var(--ifm-color-secondary-s1);
    color: var(--ifm-color-secondary-s4);
    padding: var(--ifm-spacing-2xl) 0;
    margin-top: var(--ifm-spacing-7xl);
  }

  .h2_custom {
    color: var(--ifm-color-secondary-s5);
  }

  .col_custom {
    padding: var(--ifm-spacing-2xl);
  }

  .illustration_container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .transition {
    font-family: var(--ifm-font-family-bebas-neue);
    font-size: 40px;
    font-style: normal;
    font-weight: bolder;
    line-height: 150%;
    color: var(--ifm-color-secondary-s5);
    text-align: center;
    margin-top: var(--ifm-spacing-4xl);
  }

}
