div .schedule_container {
  background-color: var(--ifm-color-secondary-s1);
}

.project_title {
  margin-bottom: var(--ifm-spacing-md);
  font-family: var(--ifm-font-family-bebas-neue);
  font-size: var(--ifm-font-size-secondary-title);
  font-style: normal;
  font-weight: bolder;
  line-height: 150%;
  text-align: start;
}

div .project_title {
  color: var(--ifm-color-primary-p2);
  padding-left: var(--ifm-spacing-xl);
}

.project_description {
  padding: var(--ifm-spacing-md) var(--ifm-spacing-xl);
  text-align: center;
}

.project_description p {
  color: var(--ifm-color-primary-p2);
}

@media only screen and (max-width: 996px) {
  /*Mobile*/

  .header_container{
    padding-top: var(--ifm-spacing-2xl);
    background-color: var(--ifm-color-primary-p1);
  }
  .header_title {
    padding-left: none;
  }

  .header_text {
    font-family: var(--ifm-font-family-roboto);
    color: var(--ifm-color-primary-p2);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: center;
    margin-bottom: var(--ifm-spacing-2xl);
    padding: var(--ifm-spacing-lg) var(--ifm-spacing-2xl);
  }

  .col_project_text {
    background-color: var(--ifm-color-orange-light);
    padding: var(--ifm-spacing-2xl) 0 var(--ifm-spacing-md) 0;
    border-radius: 10px;
  }
}

@media only screen and (min-width: 996px) {
  /*Desktop*/
  .header_container{
    margin-top: var(--ifm-spacing-6xl);
  }
  .header_title {
    padding-left: var(--ifm-spacing-4xl);
  }

  .header_text {
    font-family: var(--ifm-font-family-roboto);
    color: var(--ifm-color-primary-p2);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
    margin-bottom: var(--ifm-spacing-3xl);
    padding: var(--ifm-spacing-lg) var(--ifm-spacing-4xl);
  }

  .header_text p {
    text-align: center;
  }

  .col_project_text {
    background-color: var(--ifm-color-orange-light);
    padding: var(--ifm-spacing-4xl) var(--ifm-spacing-3xl);
    margin-bottom: var(--ifm-spacing-lg);
    border-radius: 10px;
    /*box-shadow: 0px 0px 8px 1px #d0cb54;*/
  }

  .col_project_picture_left {
    margin: none;
    border-radius: 10px;
    margin-bottom: var(--ifm-spacing-lg);
  }

  .col_project_picture_right {
    border-radius: 10px;
    margin-bottom: var(--ifm-spacing-lg);
  }
}
