@media only screen and (min-width: 600px) {
  /*Desktop */

  .header {
    color: var(--ifm-color-neutral-n1);
    font-family: var(--ifm-font-family-roboto);
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.176px;
    text-align: center;
    margin-bottom: var(--ifm-spacing-7xl);
  }

  .image_container {
    border: solid 1px rgb(146, 95, 218);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
