---
layout: default
title: Team
---

<header class="clean">
    {% include top.html %}
</header>

<div class="section">
<div class="team-section-content">

    <h1>The Team</h1>

    {% for m in site.people %}
    {% assign person = m[1] %}
    {% if m[0] != "QuantStack" %}
    <div class="bio-card">
        <a href="/{{ person.url }}"><img class="card-photo" alt="Avatar picture" src="https://avatars1.githubusercontent.com/u/{{ person.avatar }}?v=3&amp;s=200"></a>

        <p class="card-header">{{ person.name }}</p>

        <div class="card-info">
            <a href="https://github.com/{{ person.github }}" target="_blank">
                <span class="genericon genericon-github"></span>
                <em>@{{ person.github }}</em>
            </a>
        </div>

        <div class="card-info">
            <a href="https://twitter.com/{{ person.twitter }}" target="_blank">
                <span class="genericon genericon-twitter"></span>
                <em>@{{ person.twitter }}</em>
            </a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
</div>
