.h2_custom {
  color: var(--ifm-color-blue-jupyter);
}

.sub_header {
  text-align: left;
}

.hero_container {
  background-color: var(--ifm-color-primary-p0);
  padding-bottom: var(--ifm-spacing-3xl);
}

.banner_container {
  position: relative;
  width: 100%;
  display: inline-block;
}

.banner_image {
  width: 100%;
  height: auto;
  display: block;
}

.banner_text_overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  /* or whatever contrasts with your SVG */
  font-size: 2rem;
  font-family: var(--ifm-font-family-kode-mono);
}

.banner_text_overlay_title {
  font-size: 48px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -4%;
  line-height: 100%;
}

.banner_text_overlay_subtitle {
  font-size: 32px;
  font-style: normal;
}

.notebook_link {
  color: #FCF12B;
  font-weight: 700;
  font-style: bold;
  line-height: 100%;
  font-family: var(--ifm-font-family-inter);
}

.link_to_notebook_link {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg,
      #5242FF,
      #2A2A2A);
  color: white;
  width: 358px;
  font-weight: 700;
  font-family: var(--ifm-font-family-roboto);
  font-weight: 600;
  font-size: 24px;
}

@media only screen and (max-width: 576px) {

  /*Mobile*/
  .logos_carousel {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 996px) {
    /*Tablet*/
    .logos_carousel {
    display: none;
  }
    .banner_text_overlay_title {
    font-size: 32px;
  }

    .banner_text_overlay_subtitle {
    font-size: 20px;
  }

}


@media only screen and (min-width: 996px) {

  /*Desktop*/
  .table_with_8_customers {
    margin-bottom: var(--ifm-spacing-xl);
  }

  .customer_logo {
    filter: grayscale(1);
    width: 100px;
  }

  .worked_with {
    font-size: 24px;
    font-weight: 200;
    font-family: var(--ifm-font-family-rubik-one);
    color: var(--ifm-color-primary-p2);
    text-align: center;
    margin: var(--ifm-spacing-2xl) 0;
  }

  .banner_text_overlay_title {
    font-size: 32px;
  }

    .banner_text_overlay_subtitle {
    font-size: 24px;
  }
}