@media only screen and (min-width: 800px) {
  .page {
    width: 1440px;
    height: auto;
    display: grid;
    justify-items: center;
    align-content: center;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4);
    gap: 10px;
    justify-items: center;
    margin-left: auto;
  }
  .section_title {
    margin-top: 50px;
    font-family: var(--ifm-font-family-bebas-neue);
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%; /* 48px */
    letter-spacing: 1.408px;
    justify-items: center;
  }

  .portrait_card_small {
    width: 276.664px;
    height: 490px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 0 rgba(1, 0, 0, 0.17);
    padding: 10px;
    margin-bottom: 25px;
    min-height: 490px;
  }

  .portrait_card_large {
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: rgba(1, 0, 0, 0.17) 0px 1px 10px 0px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 690.016px;
    line-height: 20px;
    margin-top: -150px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    text-size-adjust: 100%;
    unicode-bidi: isolate;
    width: 596.664px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .complete_name {
    font-size: 20px;
    font-family: var(--ifm-font-family-dosis), sans-serif;
    color: #0e0e0e;
    line-height: normal;
    margin-top: 30px;
    font-weight: 700;
  }

  .position {
    font-size: 20px;
    font-family: var(--ifm-font-family-dosis), sans-serif;
    color: rgb(14, 14, 14);
    line-height: normal;
    margin-top: 30px;
    font-weight: 500;
  }
  .social_icons {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .cards_list {
    list-style-type: none;
  }

  .avatar {
    filter: grayscale(1);
    justify-items: center;
    align-content: center;
  }
  .circle {
    width: 168px;
    height: 168px;
    border-radius: 50%;
    overflow: hidden;
    margin: 42px;
    z-index: 1;
  }

  .top-portrait {
    background-color: var(--ifm-color-primary-p90);
    height: 119px;
    width: 276.664px;
    z-index: 10;
  }
}
