@charset "UTF-8";

.markdown-body {
    padding: 0 14px;
    text-align: left;
    word-wrap: break-word;
}

.markdown-body > *:first-child {
    margin-top: 0 !important;
}

.markdown-body h1 {
    border-bottom: 1px solid #DDDDDD;
    font-size: 2.5em;
}

.markdown-body h2 {
    border-bottom: 1px solid #EEEEEE;
    font-size: 2em;
}
.markdown-body h3 {
    font-size: 1.5em;
}

.markdown-body h4 {
    font-size: 1.2em;
}

.markdown-body h5 {
    font-size: 1em;
}

.markdown-body h6 {
    color: #777777;
    font-size: 1em;
}

.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6 {
    cursor: text;
    font-weight: bold;
    line-height: 1.7;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    position: relative;
}

.markdown-body img {
    border: 0 none;
}

.markdown-body p, .markdown-body blockquote, .markdown-body ul, .markdown-body ol, .markdown-body dl, .markdown-body table, .markdown-body pre {
    margin: 15px 0;
}

.markdown-body .highlight pre, .markdown-body pre {
    background-color: #F8F8F8;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
}

code, pre {
    font-family: Consolas,"Liberation Mono",Courier,monospace;
    font-size: 12px;
}

.row:before, .row:after {
    content: "";
    display: table;
    line-height: 0;
}
.row:before, .row:after {
    content: "";
    display: table;
    line-height: 0;
}
.row:after {
    clear: both;
}
.row:before, .row:after {
    content: "";
    display: table;
    line-height: 0;
}
.row:after {
    clear: both;
}
.row:before, .row:after {
    content: "";
    display: table;
    line-height: 0;
}
.row {
    margin-left: -30px;
}

.span12 {
    width: 1170px;
}
.span11 {
    width: 1070px;
}
.span10 {
    width: 970px;
}
.span9 {
    width: 870px;
}
.span8 {
    width: 770px;
}
.span7 {
    width: 670px;
}
.span6 {
    width: 570px;
}
.span5 {
    width: 470px;
}
.span4 {
    width: 370px;
}
.span3 {
    width: 270px;
}
.span2 {
    width: 170px;
}
.span1 {
    width: 70px;
}
[class*="span"] {
    float: left;
    margin-left: 30px;
    min-height: 1px;
}

.markdown-body blockquote {
    border-left: 4px solid #DDDDDD;
    color: #777777;
    padding: 0 15px;
}

b, strong {
    font-weight: bold;
}

.markdown-body a, .markdown-body a:visited {
    color: #4890A8!important;
}

.markdown-body code {
    white-space: nowrap;
}
.markdown-body code, .markdown-body tt {
    background-color: #F8F8F8;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    margin: 0 2px;
    padding: 0 5px;
}

.markdown-body ul, .markdown-body ol {
    padding-left: 30px;
}

.markdown-body table {
    display: block;
    overflow: auto;
    width: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.markdown-body table tr {
    background-color: #FFFFFF;
    border-top: 1px solid #CCCCCC;
}

.markdown-body table th, .markdown-body table td {
    border: 1px solid #DDDDDD;
    padding: 6px 13px;
}
.markdown-body table th {
    font-weight: bold;
}

.markdown-body table tr:nth-child(2n) {
    background-color: #F8F8F8;
}

.markdown-body ul ul, .markdown-body ul ol, .markdown-body ol ol, .markdown-body ol ul {
    margin-bottom: 0;
    margin-top: 0;
}

.markdown-body dl {
    padding: 0;
}

.markdown-body dl dt {
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    margin-top: 15px;
    padding: 0;
}

.markdown-body dl dd {
    margin-bottom: 15px;
    padding: 0 15px;
}
dd {
    margin-left: 0;
}
