.small_portrait_card {
  width: 279px;
  height: 388px;
  background-color: white;
  color: var(--ifm-color-primary-p2);
  border-radius: 8px;
  box-shadow: 0px 0px 8px 1px #c8c8c7;
  padding: var(--ifm-spacing-lg) var(--ifm-spacing-md);
  text-align: center;
  margin-bottom: var(--ifm-spacing-xl);
}

.avatar {
  filter: grayscale(1);
  border-radius: 50%;
  overflow: hidden;
  height: 160px;
  width: 160px;
}

.subteam_component {
  margin: var(--ifm-spacing-5xl) var(--ifm-spacing-6xl);
}
.team_description {
  font-family: var(--ifm-font-family-roboto);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}

.value_header {
  font-family: var(--ifm-font-family-rubik-one);
  font-size: var(--ifm-font-size-secondary-title);
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  margin-bottom: var(--ifm-spacing-xl);
  color: var(--ifm-text-color-on-primary-p1);
}

.value_text p {
  font-family: var(--ifm-font-family-roboto);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: var(--ifm-text-color-on-primary-p1);
}

.row_with_margins {
  margin-top: var(--ifm-spacing-4xl) 0;
}

div .row {
  margin-left: 0;
  margin-right: 0;
}

.about_container {
  margin-top: var(--ifm-spacing-6xl);
}

.value_card {
  height: 540px;
  width: 264px;
  padding: var(--ifm-spacing-2xl) var(--ifm-spacing-lg);
  border-radius: 8px;
  box-shadow: 0px 0px 8px 1px #c8c8c7;
  background-color: var(--ifm-color-primary-p1);
  margin-bottom: var(--ifm-spacing-xl);
}

.large_portrait_card {
  width: 1000px;
  /*background-color: white;*/
  border-radius: 10px;
  box-shadow: 0px 1px 10px 0 rgba(1, 0, 0, 0.17);
  padding: var(--ifm-spacing-xl) var(--ifm-spacing-2xl);
}

.bio_container {
  font-family: var(--ifm-font-family-roboto);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  letter-spacing: 0.5px;
}

.bio_container p {
  color: var(--ifm-color-primary-p2);
}

.small_card_complete_name {
  font-size: 16px;
  font-family: var(--ifm-font-family-roboto);
  color: var(--ifm-color-primary-p2);
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.15px;
  margin: var(--ifm-spacing-xs) 0;
}

.small_card_position {
  font-size: var(--ifm--font-size-normal);
  font-family: var(--ifm-font-family-roboto);
  color: var(---ifm-text-color);
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
  letter-spacing: 0.5px;
  color: var(--ifm-color-primary-p2);
}

.large_card_complete_name {
  font-family: var(--ifm-font-family-roboto);
  font-size: 32px;
  color: var(---ifm-text-color);
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  color: var(--ifm-color-primary-p2);
}

div .large_card_complete_name {
  color: var(--ifm-color-primary-p2);
}

.large_card_position {
  font-size: var(--ifm--font-size-normal);
  font-family: var(--ifm-font-family-roboto);
  color: var(--ifm-color-primary-p2);
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  letter-spacing: 0.5px;
}

a {
  color: var(--ifm-color-primary-p2);
}

div .large_card_position {
  color: var(--ifm-color-primary-p2);
}

.social_icons {
  margin-top: 10px;
  margin-bottom: 10px;
}

.githubname {
  font-size: var(--ifm-font-size-normal);
  font-family: var(--ifm-font-family-roboto);
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  letter-spacing: 0.5px;
  color: var(--ifm-color-primary-p2);
}

.subteam_container {
  margin-top: var(--ifm-spacing-2xl);
}

.four_values_container {
  margin-bottom: var(--ifm-spacing-5xl);
}

.join_the_team_container {
  font-family: var(--ifm-font-family-roboto);
  font-size: 28px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  line-height: 36px; /* 128.571% */
  color: var(--ifm-color-secondary-s2);
  padding: var(--ifm-spacing-2xl) var(--ifm-spacing-2xl);
  max-width: none;
  background-color: var(--ifm-color-secondary-s1);
}

div .join_the_team_title {
  color: var(--ifm-color-secondary-s2);
}

.join_the_team_text {
  margin-bottom: var(--ifm-spacing-2xl);
}

div .join_the_team_text {
  color: var(--ifm-color-secondary-s2);
}
/*}*/
