.value_image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--ifm-spacing-lg);
}

.small_portrait_card {
  width: 279px;
  height: 388px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 1px 10px 0 rgba(1, 0, 0, 0.17);
  padding: var(--ifm-spacing-lg) var(--ifm-spacing-md);
  text-align: center;
  margin-bottom: var(--ifm-spacing-md);
}

.avatar_container {
  display: flex;
  justify-content: center;
}

.avatar {
  filter: grayscale(1);
  border-radius: 50%;
  overflow: hidden;
  height: 160px;
  width: 160px;
}

.subteam_component {
  margin: var(--ifm-spacing-5xl) 0;
}

@media only screen and (max-width: 996px) {
  /* mobile */

  .h2_custom {
    padding: var(--ifm-spacing-lg) var(--ifm-spacing-2xl);
  }

  .row_custom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .join_the_team_container {
    background-color: var(--ifm-color-secondary-s1);
    padding: var(--ifm-spacing-3xl) var(--ifm-spacing-xl);
    margin: 0;
  }

  .join_the_team_text {
    background-color: var(--ifm-color-secondary-s1);
  }
  .col_custom {
    padding: 0;
  }

  .value_header {
    font-family: var(--ifm-font-family-rubik-one);
    font-size: var(--ifm-font-size-secondary-title);
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    margin-bottom: var(--ifm-spacing-xl);
  }

  .value_text {
    color: #371300;
    text-align: center;
    font-family: var(--ifm-font-family-roboto);
    font-size: 6px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.25px;
  }
}

@media only screen and (min-width: 996px) {
  /* Desktop */
  .value_header {
    font-family: var(--ifm-font-family-rubik-one);
    font-size: var(--ifm-font-size-secondary-title);
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    margin-bottom: var(--ifm-spacing-xl);
  }

  .value_text {
    color: #371300;
    text-align: center;
    font-family: var(--ifm-font-family-roboto);
    font-size: 6px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.25px;
  }

  .row_custom {
    margin-top: var(--ifm-spacing-4xl);
    margin-bottom: var(--ifm-spacing-4xl);
    padding: 0;
  }

  .about_container {
    margin-top: var(--ifm-spacing-5xl);
  }

  .h1_custom {
    text-align: center;
  }

  .value_card {
    height: 516px;
    width: 264px;
    padding: var(--ifm-spacing-2xl) var(--ifm-spacing-lg);
    border-radius: 8px;
    box-shadow: 0px 0px 8px 1px #c8c8c7;
    background-color: var(--ifm-color-primary-p1);
  }

  .large_portrait_card {
    width: 996px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 0 rgba(1, 0, 0, 0.17);
    padding: var(--ifm-spacing-xl) var(--ifm-spacing-2xl);
  }

  .bio_container {
    color: var(--ifm-color-neutral-black);
    font-family: var(--ifm-font-family-roboto);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    letter-spacing: 0.5px;
  }

  .small_card_complete_name {
    font-size: 16px;
    font-family: var(--ifm-font-family-roboto);
    color: var(--ifm-color-neutral-black);
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.15px;
    margin: var(--ifm-spacing-xs) 0;
  }

  .small_card_position {
    font-size: var(--ifm--font-size-normal);
    font-family: var(--ifm-font-family-roboto);
    color: var(--ifm-color-neutral-black);
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 133.333% */
    letter-spacing: 0.5px;
  }

  .large_card_complete_name {
    font-family: var(--ifm-font-family-roboto);
    font-size: 32px;
    color: var(--ifm-color-neutral-black);
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
  }

  .large_card_position {
    font-size: var(--ifm--font-size-normal);
    font-family: var(--ifm-font-family-roboto);
    color: var(--ifm-color-neutral-n1);
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    letter-spacing: 0.5px;
  }

  .social_medias_contacts_container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .social_icons {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .githubname {
    font-size: var(--ifm-font-size-normal);
    font-family: var(--ifm-font-family-roboto);
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    letter-spacing: 0.5px;
  }

  .image_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--ifm-spacing-5xl);
  }

  .subteam_container {
    margin-top: var(--ifm-spacing-2xl);
  }

  .four_values_container {
    margin-top: var(--ifm-spacing-5xl);
  }

  .four_values_div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .join_the_team_container {
    font-family: var(--ifm-font-family-roboto);
    font-size: 28px;
    font-style: normal;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 400;
    line-height: 36px; /* 128.571% */
    background-color: var(--ifm-color-secondary-s1);
    color: var(--ifm-color-secondary-s4);
    padding: var(--ifm-spacing-3xl) var(--ifm-spacing-4xl);
    max-width: none;
  }

  .h1_custom {
    text-align: center;
  }

  .portrait_popup-content {
    margin: auto;
    background: rgb(255, 255, 255);
    width: 50%;
    padding: 5px;
  }
  .portrait_popup-arrow {
    color: rgb(255, 255, 255);
  }
  [role="tooltip"].popup-content {
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
  }

  .portrait_popup-overlay {
    background: rgba(0, 0, 0, 0.5);
  }
  [data-popup="tooltip"].popup-overlay {
    background: transparent;
  }
}
