html,
body {
  margin: 0 0 0 0;
  border: 0 0 0 0;
  padding: 0 0 0 0;
  width: 100%;
  font-family: "Source Sans Pro Light", Calibri, Candara, Arial, sans-serif;
}

h1,
h2 {
  text-align: center;
}

a {
  color: black;
}

a:visited {
  color: #333;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/SourceSansPro.ttf) format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro Light';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/SourceSansProLight.ttf) format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro Bold';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/SourceSansProBold.ttf) format('truetype');
}

html,
body {
  position: relative;
}

header,
footer {
  width: 100%;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
}

header a,
footer a {
  -webkit-transition-duration: .1s;
  transition-duration: .1s;
  text-decoration: none;
}

p {
  margin: 10px 0 10px 0;
}

.clean {
  color: #333;
  background-color: #fff;
}

.clean a {
  color: #333;
}

.header-title {
  margin: 0 auto 0 auto;
  text-align: center;
  font-size: 100px;
  line-height: 100px;
  color: #000;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.header-title img {
  max-width: 600px;
}

.header-title a:hover {
  color: #000;
  opacity: 1;
}

.header-content {
  width: 100%;
}

.social-links {
  width: auto;
  top: 20px;
  right: 20px;
  position: fixed;
  z-index: 2;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.social-links a {
  opacity: 0.90;
  text-decoration: none;
  display: inline-block;
  margin: 0 5px 0 5px;
  padding: 0;
}

.social-links a span {
  font-size: 24px;
  height: 24px;
  width: 24px;
}

.social-links a:hover {
  color: #000;
  opacity: 1;
  cursor: pointer;
}

.menu a:hover {
  opacity: 1;
}

.menu {
  display: block;
  cursor: pointer;
  background-color: #333;
  width: 30px;
  height: 30px;
  top: 12px;
  left: 12px;
  padding-top: 5px;
  padding-left: 5px;
  z-index: 6;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
}

.menu-title {
  display: none;
}

.menu-content {
  font-family: "Source Sans Pro Bold", Helvetica, Arial, sans-serif;
  opacity: 0.90;
}

.menu-content > .social-links-menu {
  display: inline-block;
  margin-left: 10px;
}

.menu-content hr {
  margin: 15px 0;
  border-top: 1px solid #fff;
  border-bottom: 0;
}

.menu-content {
  font-family: "Source Sans Pro Light", Helvetica, Arial, sans-serif;
  background-color: #333;
  text-align: center;
  z-index: 5;
}

.menu-content a {
  text-transform: uppercase;
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  letter-spacing: 1.2pt;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  line-height: 35px;
  display: block;
  color: #fff;
}

.menu-content a:hover {
  font-size: 16px;
}

.menu span {
  color: #fff;
  font-size: 20px;
  height: 20px;
  width: 20px;
  opacity: 1;
  margin-left: 2.5px;
  margin-top: 3px;
}

.menu + input {
  display: none;
}

.menu + input + * {
  display: none;
}

.menu + input:checked + * {
  display: block;
}

.copyright {
  color: inherit;
  font-size: 16px;
  text-transform: uppercase;
  bottom: 10px;
  position: absolute;
}

.copyright a {
  text-decoration: none;
}

a.site-title:hover,
.copyright a:hover {
  text-decoration: underline;
}

footer.clean {
  height: 60px;
}

.section {
  padding: 10px 20px;
  background-color: #eee;
  font-size: 20px;
}

.section-content {
  margin: 0 auto 0 auto;
  max-width: 900px;
}

.team-section-content {
  margin: 0 auto 0 auto;
  max-width: 900px;
}

.xtensor-button-container {
  height: 54px;
}

.xtensor-button {
  -webkit-transition-duration: .1s;
  transition-duration: .1s;
  display: inline-block;
  height: 48px;
  width: 200px;
  margin: 3px 5px 3px 5px;
  padding: 16px;
  text-align: center;
  border-radius: 20px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  opacity: 0.90;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  background-color: #7ddb85;
  color: black;
}

.xtensor-button:hover {
  font-size: 20px;
  opacity: 1;
  cursor: pointer;
}

.xtensor-icon {
  display: inline-block;
  height: 44px;
  margin: 0 20px 0 0;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  box-sizing: border-box;
  opacity: 0.90;
}

.xtensor-icon:hover {
  color: #000;
  opacity: 1;
  cursor: pointer;
}

#xtensor-baseline {
  font-size: 24px;
  max-width: 900px;
  margin: 0 auto 60px auto;
  text-align: center;
  font-weight: bold;
}

#xtensor-summary-line {
  font-size: 24px;
  max-width: 900px;
  margin: 0 auto 0 auto;
  text-align: center;
}

.qs-people {
  font-size: 20px;
  max-width: 900px;
  margin: 0 auto 0 auto;
}

.xtensor-buttons {
  width: 260px;
  height: 150px;
  margin: 60px auto 60px auto;
}

.highlight {
  padding: 8px;
  border-radius: 2px;
  overflow-x: auto;
}

.twitter-tweet {
  margin-left: auto;
  margin-right: auto;
}

.bio-card {
  background: #f7f7f7;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  display: inline-block;
  width: 260px;
  height: 320px;
  margin: 1rem;
  position: relative;
}

.card-photo {
  display: block;
  width: 200px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  margin: 28px auto 0 auto;
}

.card-header {
  width: 100%;
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
}

.card-info {
  width: 100%;
  float: left;
  font-size: 13px;
  margin-top: 0;
  padding: 0 4px;
  text-align: center;
}

.card-info a {
  text-decoration: none;
  color: #333;
}

.card-info a .genericon {
  vertical-align: middle;
}

.bio-social a {
  text-decoration: none;
}

.bio-photo {
  width: 200px;
  margin: 0 40px 40px -40px;
  float: left;
}

.post-footer {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.blog-post img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.blog-post .img-caption {
  text-align: center;
  max-width: 400px;
  font-style: italic;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

.post-preview {
  background: white;
  padding: 8px;
  margin: 24px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.author-image img {
  display: inline-block;
  border-radius: 100px;
}

.blog-author {
  margin: 0 auto 0 auto;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navigation {
  font-size: 16px;
  display: block;
  width: auto;
  overflow: hidden;
}

.navigation a {
  display: block;
  width: 50%;
  margin: 1em 0;
}

.navigation .prev {
  float: left;
}

.navigation .next {
  text-align: right;
  float: right;
}