.legal_container {
  margin:  var(--ifm-spacing-3xl)
}

.legal_title {
  margin-bottom: var(--ifm-spacing-sm);
  margin-top: var(--ifm-spacing-md);
  font-family: var(--ifm-font-family-roboto);
  font-size: var(--ifm-font-size-secondary-title);
  font-weight: bolder;
  line-height: 150%;
  text-align: start;
  color: var(--ifm-color-primary-p2);
}