.astronaut {
  width: 435px;
  height: 435px;
  grid-area: "astronaut";
}

@media only screen and (min-width: 800px) {
  .main_container {
    background-color: white;
    width: 1440px;
    height: 956px;
    display: grid;
    justify-content: center;
    margin: auto;
  }

  .grid_container {
    margin-left: auto;
    display: grid;
    grid-template-columns: 690px 528px;
    grid-template-rows: 712px;
    grid-gap: 24px;
    grid-template-areas: "text-box" "astronaut";
    display: grid;
    /*justify-items: center;*/
  }
  .text_box {
    width: 690px;
    height: 336x;
    grid-area: "text-box";
    align-items: center;
    justify-content: center;
  }
  .image_box {
    width: 578px;
    height: 712px;
    grid-area: "text-box";
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logos_box {
    margin-left: auto;
    width: 1038px;
    height: 160px;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(6, 200px);
  }
  .main_title {
    width: 690px;
    color: var(--ifm-color-primary-p10);
    font-family: var(--ifm-font-family-bebas-neue);
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%; /* 72px */
    letter-spacing: 2.112px;
    text-align: left;
  }

  .description {
    font-family: var(--ifm-font-family-roboto);
    width: 690px;
    font-size: 24px;
    font-style: normal;
    line-height: 150%; /* 36px */
    letter-spacing: -0.264px;
    text-align: left;
  }

  .projects {
    width: 690px;
    color: var(--ifm-color-secondary-s40);
    font-family: var(--ifm-font-family-bebas-neue);
    font-size: 32px;
    font-style: normal;
    font-weight: bolder;
    line-height: 150%; /* 48px */
    letter-spacing: 0.1em;
    text-align: left;
  }
}
