.picture_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--ifm-spacing-2xl);
}
.about_us_container {
  margin-top: var(--ifm-spacing-2xl);
  padding: var(--ifm-spacing-2xl) 0;
  background-color: var(--ifm-background-color-about-qs-banner);
}
div .text_container {
  color: var(--ifm-text-color-about-qs-banner);
 }

@media only screen and (max-width: 996px) {
  /* Mobile */
  .text_container {
    font-size: 14px;
    text-align: center;
    margin-bottom: var(--ifm-spacing-lg);
    padding: var(--ifm-spacing-2xl) var(--ifm-spacing-2xl);
   
  }

}

@media only screen and (min-width: 996px) {
  /* Desktop */
  .text_container {
    font-size: 24px;
    text-align: center;
    margin-bottom: var(--ifm-spacing-lg);
    padding: var(--ifm-spacing-5xl) var(--ifm-spacing-5xl);
  }
}
