@media (max-width: 996px) {
  .projects_overview_container {
    display: none;
  }
}

.h2_custom {
  color: var(--ifm-color-blue-jupyter);
}

.col_project_overview_with_padding {
  padding: var(--ifm-spacing-4xl) var(--ifm-spacing-3xl);
}

.project_yellow {
  background-color: var(--ifm-color-primary-p1);
}

.project_light_yellow {
  background-color: var(--ifm-color-primary-p0);
}

.row_projects {
  max-width: 1500px;
  display: flex;
}

.container_projects {
  padding: 0;
  display: flex;
  justify-content: center;
}