@media only screen and (max-width: 996px) {
  /*Mobile */

  .row_custom {
    flex-direction: column-reverse;
  }
  .project_desktop {
    display: none;
  }
}

@media only screen and (min-width: 996px) {
  /*Desktop */
  .project_desktop {
    margin-bottom: var(--ifm-spacing-3xl);
  }
  .h2_custom {
    color: var(--ifm-color-secondary-s2);
  }

  .col_custom_text {
    padding: var(--ifm-spacing-4xl) var(--ifm-spacing-3xl);
  }
  .col_custom_picture {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--ifm-spacing-4xl) var(--ifm-spacing-3xl);
  }
}
