@media only screen and (max-width: 996px) {
  /*Mobile*/
  .header {
    display: none;
  }
}

.topics_header {
  font-family: var(--ifm-font-family-rubik-one);
  font-size: var(--ifm-font-size-secondary-title);
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  margin-bottom: var(--ifm-spacing-xl);
}

div .topics_header {
  color: var(--ifm-color-neutral-n2);
}

.header {
  color: var(--ifm-text-color-on-primary-p1);
}
.whatwedo_container {
  background-color: var(--ifm-color-primary-p1);
  padding: var(--ifm-spacing-2xl);
  margin-top: var(--ifm-spacing-5xl);
}

.topics_card {
  height: 462px;
  width: 350px;
  padding: var(--ifm-spacing-2xl) var(--ifm-spacing-lg);
  border-radius: 8px;
  box-shadow: 0px 0px 8px 1px #c8c8c7;
  background-color: var(--ifm-color-orange-light);
  margin-bottom: var(--ifm-spacing-2xl);
}
