.topics_header {

  font-family: var(--ifm-font-family-rubik-one);
  font-size: var(--ifm-font-size-secondary-title);
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  margin-bottom: var(--ifm-spacing-xl);
}

div .topics_header {
  color: var(--ifm-text-color-topics-card);
}

.topics_text {
  text-align: center;
  font-family: var(--ifm-font-family-roboto);
  font-size: 6px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.25px;
}

.topics_text p {
  color: var(--ifm-text-color-topics-card);
}

@media only screen and (max-width: 996px) {
  /*Mobile*/
  .header {
    display: none;
  }

  .link_to_services_desktop {
    display: none;
  }

  .topics_card {
    padding: var(--ifm-spacing-2xl) var(--ifm-spacing-lg);
    border: none;
    border-radius: 0;
    border: transparent;;
  }

  .topics_card_yellow {
    background-color: var(--ifm-background-color-topics-card-yellow);
    color: var(--ifm-text-color-topics-card-yellow);
  }

  .topics_card_white {
    background-color: var(--ifm-background-color-topics-card-white);
    color: var(--ifm-text-color-topics-card-white);
  }
}

@media only screen and (min-width: 996px) {
  /* Desktop */
  .whatwedo_container {
    background-color: var(--ifm-color-primary-p1);
    padding: var(--ifm-spacing-2xl);
  }

  .topics_card {
    height: 462px;
    width: 350px;
    padding: var(--ifm-spacing-2xl) var(--ifm-spacing-lg);
    border-radius: 8px;
    box-shadow: 0px 0px 8px 1px #c8c8c7;
    background-color: var(--ifm-background-color-topics-card);
    margin-bottom: var(--ifm-spacing-2xl);
  }
}
