.topics_header {
  font-family: var(--ifm-font-family-rubik-one);
  font-size: var(--ifm-font-size-secondary-title);
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  margin-bottom: var(--ifm-spacing-xl);
}

.topics_text {
  color: #371300;
  text-align: center;
  font-family: var(--ifm-font-family-roboto);
  font-size: 6px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.25px;
}

@media only screen and (max-width: 996x) {
  /*Mobile*/

  .header {
    display: none;
  }
  .topics_card {
    padding: var(--ifm-spacing-2xl) var(--ifm-spacing-lg);
    margin-bottom: var(--ifm-spacing-xl);
    background-color: var(--ifm-color-primary-p1);
  }
  
  .link_to_services_desktop {
    display: none;
  }
}

@media only screen and (min-width: 996px) {
  /* Desktop */
  .whatwedo_container {
    background-color: var(--ifm-color-primary-p1);
    padding: var(--ifm-spacing-2xl);
  }

  .topics_card {
    height: 462px;
    width: 350px;
    padding: var(--ifm-spacing-2xl) var(--ifm-spacing-lg);
    border-radius: 8px;
    box-shadow: 0px 0px 8px 1px #c8c8c7;
    background-color: var(--ifm-color-orange-light2);
  }

  .col_custom {
    display: flex;
    justify-content: center;
    margin-right: var(--ifm-spacing-xl)
  }

  .topics_container {
    margin: var(--ifm-spacing-2xl) 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
