<!DOCTYPE html>
<html>
    {% assign person = site.people[page.author] %}
    {% include head.html %}
    <body>
        <header class="clean">
        {% include top.html %}
        <div class="header-title" style="font-size: 30px;">
            {{ page.title }}
        </div>
        <div class="blog-author">
            by <a href="/{{ person.url }}">{{ person.name }}</a>
        </div>
        </header>
        <div class="section" style="background: white;">
            <div class="section-content blog-post" markdown="1" style="text-align: justify;">
            {{ content }}
            </div>
            <div class="post-footer">
                <hr style="margin-top: 20px;">
                <div class="navigation">
                   {% if page.previous.url %}
                   <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
                   {% endif %}
                   {% if page.next.url %}
                   <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
                   {% endif %}
                </div> 
                <hr style="margin-bottom: 20px;">
                <div class="author" style="display: inline-block; width: 400px; vertical-align: top;">
                    <h4><a href="/{{ person.url }}">{{ person.name }}</a></h4>
                    <p>Read <a href="/{{ person.url }}">more posts</a> by this author.</p>
                </div>
                <a href="/{{ person.url }}" class="author-image">
                    <img src="https://avatars1.githubusercontent.com/u/{{ person.avatar }}?v=3&amp;s=100">
                </a>
                <div class="share" style="display: inline-block; vertical-align: top; margin-left: 180px;">
                    <h4 style="text-decoration: underline;">Share this post</h4>
                    <a class="genericon genericon-twitter" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter"></a>
                    <a class="genericon genericon-facebook" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"></a>
                    <a class="genericon genericon-googleplus" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+"></a>
                </div>
            </div> 
        </div>
        <footer class="clean">
            <p class="copyright">&copy;{{ site.time | date: "%Y" }}, <a href="{{ site.copyright.url }}" target="_blank">{{ site.copyright.author }}</a>. <a href="{{ site.copyright.type_url }}" target="_blank">{{ site.copyright.type_title }}</a>.</p>
        </footer>
    </body>
</html>
