@media only screen and (max-width: 996px) {
  /*Mobile */
}

@media only screen and (min-width: 996px) {
  /*Desktop */
  .learn_more_container {
    background-color: var(--ifm-background-color-blue-banner);
    text-align: center;
    padding: var(--ifm-spacing-2xl)
  }

  .learn_more_text {
    text-align: center;
    font-family: var(--ifm-font-family-roboto);
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 128.571% */
    padding: var(--ifm-spacing-2xl);
  }

  div .learn_more_text {
    color: var(--ifm-text-color-blue-banner);
  }

  div .learn_more_title {
    color: var(--ifm-text-color-blue-banner);
  }
}
